*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: #0b0b0b;
  color: #eaeaea;
  font-family: Inter, system-ui, sans-serif;

  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button {
  font-family: inherit;
  background: none;
  border: none;
  outline: none;
}