.board {
  width: 100%;
  height: 100%;
  background-color: #0b0b0b;

  background-image:
    radial-gradient(circle at 1px 1px, rgba(255,255,255,0.06) 1px, transparent 0);
  background-size: 24px 24px;

  position: relative;
}

svg.board {
  display: block;
}